<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benutzer.itmuerpapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainAppActivity"
            android:label="@string/title_activity_main_app" >
        </activity>
        <activity
            android:name=".attendanceActivity"
            android:label="@string/title_activity_attendance" >
        </activity>
        <activity
            android:name=".profileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".registerActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".timeTableActivity"
            android:label="@string/title_activity_time_table" >
        </activity>
        <activity
            android:name=".resultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".newsActivity"
            android:label="@string/title_activity_news" >
        </activity>
    </application>

</manifest>
